<h1>Test your knowledge...</h1>
<%= @totalcategories %> categories and <%= @totalquestions %> questions in the database.<br/>

<%= @msg %><br/><br/>

<!-  random questions here -->
<% @questions.each do |question| %>
  <h3>Question</h3>

  <i><%= question.question %></i><br><br>
    <b>1.</b> <%= question.choice1 %><br>
    <b>2.</b> <%= question.choice2 %><br>
    <b>3.</b> <%= question.choice3 %><br>
   <b>4.</b> <%= question.choice4 %><br><br>
    <%= question.answer %><br>
    <%= question.explanation %><br>

    <%= question.report %>

  </tr>
<% end %>

<%= link_to "Back" , welcome_index_path %>

