<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>


<h1>Test your knowledge...</h1>
<%= @totalcategories %> categories and <%= @totalquestions %> questions in the database.<br/>

<%= @msg %><br/><br/>

<!-  random questions here -->
<% @questions.each do |question| %>
  <h3>Question</h3>

  <i><%= question.question %></i><br><br>
    <b>1.</b> <%= question.choice1 %><br>
    <b>2.</b> <%= question.choice2 %><br>
    <b>3.</b> <%= question.choice3 %><br>
   <b>4.</b> <%= question.choice4 %><br><br>

  <button class="accordion">Answer...</button>
  <div class="panel">
    <p>
      <%= question.answer %>)     <%= question.explanation %>
    </p>
  </div>


    <%#= question.report %>

  </tr>
<% end %>

<%= link_to "Back" , welcome_index_path %>

